/dist
/.idea
/__pycache__
/build
output1.png
output.png
*.csv
main.spec
mail9.png
mail8.png
mail7.png
mail6.png
mail5.png
mail4.png
mail3.png
mail2.png
mail15.png
mail14.png
mail13.png
mail12.png
mail11.png
mail10.png
mail1.png
mail0.png
ggg.png
font_0.bin
font.py
convertesacparsercsv.py
boibib.png
bobobob.py
.gitattributes
*.sav
